<div class="sudoku">
	<div class="sudoku__horizontal-line sudoku__horizontal-line_1"></div>
	<div class="sudoku__horizontal-line sudoku__horizontal-line_2"></div>
	<div class="sudoku__vertical-line sudoku__vertical-line_1"></div>
	<div class="sudoku__vertical-line sudoku__vertical-line_2"></div>
	<div class="sudoku__row" *ngFor="let row of sudoku">
		<div class="sudoku__cell" *ngFor="let cell of row">
			<app-sudoku-cell [sudokuCell]="cell" (clicked)="cellClickedHandler($event)"></app-sudoku-cell>
		</div>
	</div>
</div>
