<div class="actions-panel">
	<div class="actions-panel__reset">
		<button class="actions-panel__button actions-panel__button_reset"
				[ngClass]="{'actions-panel__button_disabled': !isUndoAvailable}"
				(mousedown)="undoClickHandler()">
			<img src="./assets/undo.svg">
		</button>
		<button class="actions-panel__button actions-panel__button_reset"
				[ngClass]="{'actions-panel__button_disabled': !isRedoAvailable}"
				(mousedown)="redoClickHandler()">
			<img src="./assets/redo.svg">
		</button>
	</div>
	<div class="actions-panel__numbers">
		<button *ngFor="let n of numbers"
				class="actions-panel__button actions-panel__button_number"
				[ngClass]="{'actions-panel__button_active': (selectedNumbers | async).includes(n),
							'actions-panel__button_filled': (filledNumbers | async).includes(n)}"
				(mousedown)="numberClickHandler(n)">
			{{n}}
		</button>
	</div>
	<div class="actions-panel__cancel">
		<button class="actions-panel__button actions-panel__button_cancel"
				(mousedown)="invertClickHandler()">
			Inv
		</button>
		<button class="actions-panel__button actions-panel__button_cancel"
				(mousedown)="cancelClickHandler()">
			<img src="./assets/cancel.svg">
		</button>
	</div>
</div>
