<div class="actions-panel">
	<div class="actions-panel__reset">
		<button class="actions-panel__button actions-panel__button_reset">
			<img src="./assets/undo.svg">
		</button>
		<button class="actions-panel__button actions-panel__button_reset">
			<img src="./assets/redo.svg">
		</button>
	</div>
	<div class="actions-panel__numbers">
		<button *ngFor="let n of numbers"
			class="actions-panel__button actions-panel__button_number"
			[ngClass]="{'actions-panel__button_active': false}"
			(click)="numberClickHandler(n)">{{n}}</button>
	</div>
	<div class="actions-panel__cancel">
		<button class="actions-panel__button actions-panel__button_cancel">
			<img src="./assets/cancel.svg">
		</button>
	</div>
</div>
